.App {
  background-color: #F1F2F6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #758BFD;
}
.navBar li {
  display: block;
  color: #F1F2F6;
  text-align: center;
  padding: 1%;
  text-decoration: none;
  float: left;
}
.navBar a {
  text-decoration: none;
  color: #F1F2F6;
}

.navBar li:hover {
  background-color: #27187E;
}

.navBar .active {
  background-color: #FF8600 ;
}

.Orders {
  color:#F1F2F6 ;
  border-collapse: collapse;
  width: 100%;
}

.Orders td, .Orders th {
  border: 1px solid #F1F2F6;
  padding: 1%
}

.Orders tr:hover {
  background-color: #AEB8FE;
}

.Orders th {
  padding: auto;
  text-align: center;
  background-color: #FF8600;
  color: #F1F2F6;
}

.newOrder {
  /* border-radius: 10%; */
  background-color: #AEB8FE;
  color: #F1F2F6;
  padding: 2%;
  /* width: 50%;
  height: 50%; */
  justify-content: center;
  align-items: center;
}
.newOrder label {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.newOrder button {
  background-color: #FF8600;
  color: #F1F2F6;
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  display: inline-block;
}
.superMarket {
  padding: 1%;
  color: #F1F2F6;
  background-color: #758BFD;
}

